.App {
  text-align: center;
  min-height: 100vh;
  color: black;
  background-image: url('./assets/resources/bg-huge-3.jpg');
  background-attachment: fixed;
  background-size: cover;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  color: white;
}

.logo {
  max-height: 4rem!important;
  font-size: 1.7rem!important;
}

.nav-item a{
  color: #fff !important;
}

.App-link {
  color: #61dafb;
}

.main-navbar {
  margin-bottom: 1%;
  background: #e9ecef;
}

.information {
  padding-bottom: 3%;
  padding-top: 1%;
  margin-bottom: 1%;
  background-color: #676e7b;
}

h4 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.wrapped {
  display: flex;
  flex-wrap: wrap;
}

.champion-icon {
  width: 60px;
  height: 60px;
}

.info-panel {
  text-align: justify;
}

.info-panel .tier-images {
  text-align: center;
}

.info-panel h2 {
  text-align: left;
  text-transform: uppercase;
  font-weight: 200;
  font-family: 'Roboto', sans-serif
}

.bait {
  height: 200px;
  background-color: white;
}

.image-md {
  height: 15rem;
}

.btn-scattler {
  background-color: #009060;
  border-color: #009060;
  border-radius: 0;
  color: white;
}

.btn-scattler:hover {
    color: white;
}

.text-amumu {
  color: #009060;
}

.bg-darker {
  background-color: #2a2f33;
}

.bg-dark-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-light-transparent {
  background-color: rgba(1, 1, 1, 0.7);
}

.border-amumu-3 {
  border-bottom: 3px solid;
  border-color: #009060;
}

.tab {
  width: fit-content;
}

.image-sorry {
  height: 15rem;
  width: 18rem;
}

.nav-amumu:hover {
  color: #009060!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
