.App {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(transparent, #ffff), url("./assets/resources/bg-huge-4.jpg") no-repeat;
}

.App-header {
  background-color: #282c34;
  color: white;
}

.logo {
  max-height: 4rem!important;
  font-size: 2rem!important;
  font-weight: lighter;
}

.nav-item a{
  color: #fff !important;
}

.App-link {
  color: #61dafb;
}

.main-navbar {
  box-shadow: $box-shadow;
  background-color: #20232a;
}

.information {
  padding-bottom: 3%;
  padding-top: 1%;
  margin-bottom: 1%;
  background-color: #676e7b;
}

h4 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.links h5{
  color: white
}

.links h5:hover{
  text-decoration: underline;
  text-decoration-color: #0099CC
}

.wrapped {
  display: flex;
  flex-wrap: wrap;
}

.champion-icon {
  width: 60px;
  height: 60px;
}

.info-panel {
  text-align: justify;
}

.info-panel .tier-images {
  text-align: center;
}

.info-panel h2 {
  text-align: left;
  text-transform: uppercase;
  font-weight: 200;
  font-family: 'Roboto', sans-serif
}

.bait {
  height: 200px;
  background-color: white;
}

.image-md {
  height: 15rem;
}

.btn-scattler {
  background-color: #0099CC;
  border-color: #0099CC;
  border-radius: 0;
  color: white;
}

.btn-scattler:hover {
    color: white;
}

.text-amumu {
  color: #009060;
}

.text-blue-new{
  color: #0099CC;
}

.bg-darker {
  background-color: #1a1b1b;
}

.bg-semi-dark {
  background-color: #5b616f;
}

.bg-dark-new{
  background-color: #20232a;
}

.bg-dark-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-light-transparent {
  background-color: rgba(1, 1, 1, 0.7);
}

.bg-dark-blue {
  background-color: #273542!important
}

.border-amumu-3 {
  border-bottom: 3px solid;
  border-color: #009060;
}

.border-blue-3{
  border-bottom: 3px solid;
  border-color: #0099CC;
}

.tab {
  width: fit-content;
}

.image-sorry {
  height: 15rem;
  width: 18rem;
}

.nav-amumu:hover {
  color: #009060!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tooltip-inner{
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  background-color: #222b28;
  border-radius: .25rem;
}

.spinner-margin{
  min-height: 50vh;
}